<div id="calendar">
  <mat-toolbar>
    <button mat-icon-button class="menu-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="page-logo">Calendar</span>

    <button mat-icon-button class="prev-icon">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <button mat-icon-button class="next-icon">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>

    <span class="spacer"></span>
    <mat-form-field appearance="fill">
      <mat-select [(value)]="calendarView">
        <mat-option *ngFor="let view of views" [value]="view.value">{{view.label}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>
  <div class="main-content">
    <mat-card class="calendar-card">
      <mat-calendar [(selected)]="selectedDate"></mat-calendar>
    </mat-card>
    <mat-card class="calendar-grid">
      <div *ngFor="let day of dayGrid" class="day-grids">
        <mat-card class="day-grid">{{day.details.label}}</mat-card>
        <mat-card class="day-grid" *ngFor="let hour of day.grid"></mat-card>
      </div>
    </mat-card>
  </div>
</div>
